<form method="post" action="{{ path('gonderi_delete', {'id': gonderi.id}) }}" onsubmit="return confirm('{{ gonderi.gonderibasligi }} adlı gönderiyi silmek istediğine emin misin?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="" name="_token" value="{{ csrf_token('delete' ~ gonderi.id) }}" hidden>
    <button class="dropdown-item" style="cursor: pointer;">Sil</button>
</form>
